# Tuple

In [1]:
x = tuple()

In [2]:
x = (1,2,3)

In [3]:
x

(1, 2, 3)

In [4]:
x = tuple()

In [5]:
x

()

In [10]:
x = (1,2,2,3)

In [11]:
x.count(2)

2

In [14]:
x.index(1)

0

In [15]:
len(x)

4

In [17]:
y = sorted(x)

In [18]:
y

[1, 2, 2, 3]

In [19]:
type(y)

list

In [20]:
x = (5,3,1,10,43,5,67,8,12)

In [21]:
x

(5, 3, 1, 10, 43, 5, 67, 8, 12)

In [22]:
sorted(x)

[1, 3, 5, 5, 8, 10, 12, 43, 67]

In [23]:
y = (5+10,) * 13

In [24]:
y

(15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15)

In [25]:
x = (5+10,)

In [26]:
x

(15,)

In [27]:
y = x*13

In [28]:
y

(15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15)

In [29]:
x

(15,)

In [30]:
x = ('a', 'b','c','d','e')

In [31]:
x

('a', 'b', 'c', 'd', 'e')

In [32]:
x[2]

'c'

In [33]:
for item in x:
    print(item)

a
b
c
d
e

In [35]:
x = ([1,2,3], 'a')

In [36]:
x

([1, 2, 3], 'a')

In [37]:
x[0].append('new')

In [38]:
x

([1, 2, 3, 'new'], 'a')

In [39]:
x = 1,2,3

In [40]:
x

(1, 2, 3)

In [41]:
x = tuple('keyboard')

In [42]:
x

('k', 'e', 'y', 'b', 'o', 'a', 'r', 'd')

In [43]:
x[3:5]

('b', 'o')

In [44]:
x

('k', 'e', 'y', 'b', 'o', 'a', 'r', 'd')

In [45]:
x[3] = 'z'

TypeError: 'tuple' object does not support item assignment

In [46]:
x = 5
y = 7

In [47]:
x = y

In [48]:
y

7

In [49]:
x

7

In [50]:
x = 5
y = 7

In [51]:
z = x

In [52]:
x = y

In [53]:
y = z

In [54]:
x,y

(7, 5)

## Multi assignment

In [55]:
x = 5
y = 7

In [56]:
x, y = y, x

In [57]:
x, y

(7, 5)

In [58]:
x

7

In [59]:
y

5

In [60]:
x, y, z = 1, 2, 3

In [61]:
x

1

In [62]:
y

2

In [63]:
z

3

In [64]:
sentence = "I am reading python"

In [65]:
sentence.split(" ")

['I', 'am', 'reading', 'python']

In [66]:
first, second, third, fourth = sentence.split(" ")

In [67]:
first

'I'

In [68]:
fourth

'python'

## Tuple as return value

In [69]:
import math
def square_and_root(n):
    return n**2, math.sqrt(n)

In [70]:
square_and_root(4)

(16, 2.0)

In [71]:
x, y = square_and_root(4)

In [72]:
x

16

y

## Variable length argument

In [1]:
def add_numbers(x, y):
    return x+y

In [2]:
add_numbers(40, 60)

100

In [18]:
def add_numbers(message,*numbers):
    total = 0
    print(type(numbers))
    for item in numbers:
        total += item
    print(message)
    return total

In [19]:
add_numbers(5,40, 30, 50, 20, 10, 34)

<class 'tuple'>
5

184

In [20]:
def add_numbers(x, y):
    return x+y

In [21]:
t = (5,7)

In [22]:
t

(5, 7)

In [23]:
add_numbers(t) # add_numbers((5,7))

TypeError: add_numbers() missing 1 required positional argument: 'y'

In [24]:
add_numbers(*t)  # add_numbers(5, 7)

12

In [25]:
max(5,7)

7

In [26]:
max(2,4,5,6,7,8,9)

9

## ZIP function

In [27]:
x = 'abc'

In [28]:
y = [0,1,2]

In [29]:
zip(x, y)

In [30]:
z = zip(x,y)

In [31]:
z

In [32]:
for item in z:
    print(item)

('a', 0)
('b', 1)
('c', 2)

In [33]:
for item in z:
    print(item)

In [39]:
z = zip(x,y)

In [40]:
def print_all(item1, item2, item3):
    print(item1, item2, item3)

In [41]:
print_all(*z)

('a', 0) ('b', 1) ('c', 2)

## Tuple in a list

In [42]:
t = [('a', 0), ('b', 1), ('c', 2)]

In [43]:
for item in t:
    print(item)

('a', 0)
('b', 1)
('c', 2)

In [44]:
for char, number in t:
    print(char)
    print('%n')
    print(number)

a
%n
0
b
%n
1
c
%n
2

In [46]:
for item in zip('banana', 'water'):
    print(item)

('b', 'w')
('a', 'a')
('n', 't')
('a', 'e')
('n', 'r')

In [47]:
def match_letters(s1, s2):
    for l1, l2 in zip(s1, s2):
        if l1 == l2:
            return True
    return False

In [48]:
match_letters('banana', 'water')

True

In [49]:
match_letters('banana', 'apple')

False

## Enumerate

In [54]:
for item in enumerate('apple'):
    print(item)

(0, 'a')
(1, 'p')
(2, 'p')
(3, 'l')
(4, 'e')

In [56]:
for item in enumerate(["apple", (5, 7), {'a':1, 'b':3}, [5,3,8]]):
    print(item)

(0, 'apple')
(1, (5, 7))
(2, {'a': 1, 'b': 3})
(3, [5, 3, 8])

In [59]:
for index, item in enumerate(["apple", (5, 7), {'a':1, 'b':3}, [5,3,8]]):
    print(index, item)

0 apple
1 (5, 7)
2 {'a': 1, 'b': 3}
3 [5, 3, 8]

## Dictionary and Tuple

In [58]:
d = {'fruit': 'banana', 'veg': 'potato'}

In [60]:
d

{'fruit': 'banana', 'veg': 'potato'}

In [61]:
d.items()

dict_items([('fruit', 'banana'), ('veg', 'potato')])

In [62]:
for key, value in d.items():
    print(key, value)

fruit banana
veg potato